<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Витрина магазина</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="bg-light">
    <form id="main">
    </form>
    <div class="container p-2">
        <div class="row p-2">
            <div class="col">
                <div class="hstack gap-3">
                    <h2>
                        <span class="badge text-bg-success">Витрина магазина</span>
                    </h2>
                    <a href="/orders" class="btn btn-secondary ms-auto bi bi-file-earmark-text"> Заказы</a>
                    <a href="/cart/items" class="btn btn-secondary bi bi-cart4"> Корзина</a>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <div class="hstack gap-3">
                    <input class="form-control me-2 mw-100" type="search" placeholder="Найти..." aria-label="Поиск" name="search" th:value="${search}" form="main"/>
                    <button class="btn btn-outline-success" type="submit" form="main">Найти</button>
                    <div class="form-floating w-25">
                        <select class="form-select" id="sort" name="sort" onchange="document.getElementById('main').submit()" form="main">
                            <option value="NO" th:selected="${sort=='NO'}">нет</option>
                            <option value="ALPHA" th:selected="${sort=='ALPHA'}">по алфавиту</option>
                            <option value="PRICE" th:selected="${sort=='PRICE'}">по цене</option>
                        </select>
                        <label for="sort">Сортировка</label>
                    </div>
                    <div class="form-floating w-25">
                        <select class="form-select" id="pageSize" name="pageSize" onchange="document.getElementById('main').submit()" form="main">
                            <option value="2" th:selected="${paging.pageSize()==2}">2</option>
                            <option value="5" th:selected="${paging.pageSize()==5}">5</option>
                            <option value="10" th:selected="${paging.pageSize()==10}">10</option>
                            <option value="20" th:selected="${paging.pageSize()==20}">20</option>
                            <option value="50" th:selected="${paging.pageSize()==50}">50</option>
                            <option value="100" th:selected="${paging.pageSize()==100}">100</option>
                        </select>
                        <label for="pageSize">На странице</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-2" th:each="itemsRow : ${items}">
            <div class="col" th:each="item : ${itemsRow}">
                <div class="card" th:if="${item.id() != -1}">
                    <a th:href="${'/items/'+item.id()}">
                        <img th:src="${'/'+item.imgPath()}" class="card-img-top" alt="Нет изображения">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.title()}"></h5>
                        <h5>
                            <span class="badge text-bg-success justify-content-end" th:text="${item.price()}+' руб.'"></span>
                        </h5>
                        <p class="card-text" th:text="${item.description()}"></p>
                        <form method="post" th:action="@{/items}">
                            <div class="hstack gap-3">
                                <input type="hidden" name="id" th:value="${item.id()}">
                                <input type="hidden" name="search" th:value="${search}">
                                <input type="hidden" name="sort" th:value="${sort}">
                                <input type="hidden" name="pageSize" th:value="${paging.pageSize()}">
                                <input type="hidden" name="pageNumber" th:value="${paging.pageNumber()}">
                                <button type="submit" class="btn btn-outline-secondary" name="action" value="MINUS">-</button>
                                <span th:text="${item.count()}"></span>
                                <button type="submit" class="btn btn-outline-secondary" name="action" value="PLUS">+</button>
                                <button type="submit" class="btn btn-warning ms-auto bi bi-cart4" name="action" value="PLUS" th:if="${item.count()==0}"></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div th:unless="${item.id() != -1}">&nbsp;</div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <div class="hstack gap-3 justify-content-center">
                    <button type="submit" class="btn btn-light" th:if="${paging.hasPrevious()}" name="pageNumber" th:value="${paging.pageNumber()-1}" form="main">&larr;</button>
                    <span th:text="${'Страница: '+paging.pageNumber()}"></span>
                    <button type="submit" class="btn btn-light" th:if="${paging.hasNext()}" name="pageNumber" th:value="${paging.pageNumber()+1}" form="main">&rarr;</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>

</html>
